.prices__header{
  font-family: "CenturyGothic" ;
  text-align: center;
  font-size: 17px;
  margin-top: 70px;
  border-top: 1px solid rgb(142, 137, 137);
  border-bottom: 1px solid rgb(142, 137, 137);
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgb(142, 137, 137);
  margin-bottom: 70px;
  font-weight: 100;
  margin-left: 15vw;
  margin-right: 15vw;
}

@media screen and (max-width: 1200px) {
  .prices__header{
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
@media screen and (max-width: 1025px) {
.prices__header{
  margin-top: 90px;
  }
}