.horizontal-slide{
  position: fixed;
  height: 14vh;
  width: 100vw;
  background-color: black;
  z-index: 7;
  animation: horizontal-slide-animation .3s forwards;
}

@keyframes .horizontal-slide-animation {
  from {
    height: 0;
  }

  to {
    height: 14vh;
  }
}