.horizontal-slide{
  position: fixed;
  height: 5vh;
  width: 100vw;
  background-color: black;
  z-index: 15;
  animation: horizontal-slide-animation .3s forwards;
}

@keyframes horizontal-slide-animation {
  from {
    height: 0;
  }

  to {
    height: 9.5vh;
  }
}