.header__text_type_profession{
  font-size: 1.5rem;
  font-family: "CenturyGothic";
  margin-top: 10px;
  font-weight: 100;
}

@media screen and (max-width: 500px){
  .header__text_type_profession{
    font-size: 20px;
  }
}