.header__text_type_name{
 margin-top: 12.5vw; 
 font-size: 3.2rem;
 text-transform: uppercase;
 font-family: "Italiana";
 font-weight: 100;
}

@media screen and (max-width: 550px){
  .header__text_type_name{
    margin-top: 48vw;
    font-size: 33px;
  }
}