.footer__icon_type_instagram{
 padding-top: 2px;
 padding-bottom: 3px;
 box-sizing: border-box;
}

.footer__icon_type_watsapp{
  transform: scale(2);
}
.footer__icon_type_telegram{
  transform: scale(1.3);
}
.footer__icon_type_behance{
  transform: scale(1.3);
}