.portfolio__container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, 400px);
  column-gap: 30px;
  row-gap: 43px;
  justify-content: center;
  margin-bottom: 30px;
}
