.portfolio__container {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  column-gap: 30px;
  row-gap: 43px;
  justify-content: center;
  margin-bottom: 30px;

}

.portfolio__container img {
  max-width: 100%;
}

@media screen and (max-width: 1150px) {
  .portfolio__container{
    margin-left: 0;
    grid-template-columns: repeat(auto-fit, minmax(635px, 1fr));
  }
}
@media screen and (max-width: 600px) {
  .portfolio__container{
    grid-template-columns: none;
    margin-left: 0;
  }
}