.order-button {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50px;
  right: 50px;
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, .0);
  color: white;
  z-index: 3;
  border: none;
  -webkit-user-select: none;
  user-select: none;
  border: 2px solid white;
  transition: background-color 0.5s ease, color 0.5s ease;
  font-size: calc(var(--index)) * 0.8;
}

.order-button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .order-button {
    top: 25px;
    right: 25px;
    height: 40px;
    width: 140px;
  }
}
@media screen and (max-width: 600px) {
  .order-button {
    display: none;
  }
}
