.header__nav{
  font-size: 20px;
  font-family: "Inter";
  cursor: pointer;
  margin: 0;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  transition: opacity .8s;
}

.header__nav:hover{
  opacity: .5;
}