.slide_closed {
  animation: slide-close-animation 0.3s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100vh;
  margin-left: 5vw;
  background-color: rgba(30, 30, 30, 0.2);
  z-index: 10;
  text-align: center;
  align-items: center;
  opacity: .5;
}

@media screen and (max-width:1025px) {
  .slide_closed{
    margin-left: 0;
  }
}

@keyframes slide-close-animation {
  from {
    width: 28vw;
  }
  to {
    width: 0;
  }
}







