.lateral-info__text{
  color: white;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  font-size: calc(var(--index));;
  margin-top: 7vh;
  cursor: pointer;
  transition: opacity .8s
}

.lateral-info__text:hover{
opacity: 0.5;
}