.popup__container{
  position: relative;
  width: 330px;
  border-radius: 10px;
  background-color: #FFFFFF;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}
