.slide_opened {
  animation: slide-animation .3s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100vh;
  margin-left: 5vw;
  background-color: rgba(30, 30, 30, 0.8);
  z-index: 12;
  text-align: center;
  align-items: center;
}

@media screen and (max-width:1025px) {
  .slide_opened{
    margin-left: 0;
  }
}

@keyframes slide-animation {
  from {
    width: 0;
  }

  to {
    width: 20vw;
  }
}

@media screen and (max-width: 1025px) {
  @keyframes slide-animation {
    from {
      width: 0vw;
    }

    to {
      width: 28vw;
    }
  }
}