.slide_opened {
  animation: slide-animation .3s forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100vh;
  margin-left: 5vw;
  background-color: rgba(30, 30, 30, 0.2);
  z-index: 10;
  text-align: center;
  align-items: center;
}



@keyframes slide-animation {
  from {
    width: 0;
  }

  to {
    width: 20vw;
  }
}