.portfolio__image {
  transition: transform .3s ease-in-out;
  cursor: pointer;
  justify-self: center;
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
}

.portfolio__image:hover {
  transform: scale(1.05);
}
