.portfolio__image {
  height: 55vh;
  transition: transform .3s ease-in-out;
  cursor: pointer;
  justify-self: center;
}

.portfolio__image:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1150px) {
  .portfolio__image {
    justify-self: center;
  }

  /* .portfolio__image:nth-child(2){
    justify-self: start;
  } */
}
@media screen and (max-width: 727px) {
  .portfolio__image {
    justify-self: center;
  }

  .portfolio__image:nth-child(2){
    justify-self: center;
  }
}